* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    float: left;
}

header {
    height: 150px;
    width: 100%;
    background: black;
    color: white;
    padding-right: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 250px;
}

.nav-links {
    list-style-type: none;
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    height: 15px;
    padding-right: 15px;
}


li {
    font-size: 25px;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 62px;
    letter-spacing: 10px;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 62px;
    letter-spacing: 5px;
    padding-top: 150px;
}

h4 {
    font-weight: bold; 
}

.homeIntro p:last-child {
    margin-bottom: 100px;
}
.homeIntro {
    margin-bottom: 150px;
    border-bottom: solid black 5px;
    line-height: 24px;
}

.aboutMe p:last-child {
    margin-bottom: 100px;
}
.aboutMe {
    margin-bottom: 150px;
    border-bottom: solid black 5px;
}

.projects p:last-child {
    margin-bottom: 100px;
}
.projects {
    margin-bottom: 150px;
    border-bottom: solid black 5px;
}

.workHistory p:last-child {
    margin-bottom: 100px;
}

.techImages {
    height:  100px;
    margin-bottom: 200px;
}


.homeIntro img {
    height: 750px;
    width: 100%;
    margin-top: 250px;
}

.homeintro {
    margin: 50px;
}

h2 {
    padding-top: 350px;
}

.contactLogos {
    height:50px;
    border-top: solid 5px black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: gray;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed
}

.contactLogo {
    margin-top: 7px;
    width: 25px;
    border-radius: 25%;
}

.techUsed {
    padding-top: 15px;
}

.home {
    bottom: -175px;
}

@media only screen and (max-width: 480px) {
    body {
        width: 100%;
    }

    .homeIntro img {
        height: 250px;
        margin-top: 175px;
    }

    h2 {
        padding-top: 300px;
    }

    h1 {
        font-size: 25px;
    }

    header {
        height: 250px;
    }

    .nav-links {
        list-style-type: none;
        color: white;
        display: inline-block;
        flex-direction: none;
        width: auto;
        justify-content: none;
        height: 15px;
        padding-right: none;
        font-size: 10px;
    }

    p {
        text-align: left;
    }
}