* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    float: left;
}

header {
    width: 100%;
    background: black;
    color: white;
    padding-right: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 250px;
}

.nav-links {
    list-style-type: none;
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    height: 15px;
    padding-right: 15px;
}


li {
    font-size: 25px;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 62px;
    letter-spacing: 10px;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 62px;
    letter-spacing: 5px;
}

h4 {
    font-weight: bold; 
}

.homeIntro p:last-child {
    margin-bottom: 350px;
}
.homeIntro {
    margin-bottom: 150px;
    border-bottom: solid black 5px;
}

.aboutMe p:last-child {
    margin-bottom: 150px;
}
.aboutMe {
    margin-bottom: 150px;
    border-bottom: solid black 5px;
}

.projects p:last-child {
    margin-bottom: 150px;
}
.projects {
    margin-bottom: 150px;
    border-bottom: solid black 5px;
}

.workHistory p:last-child {
    margin-bottom: 350px;
}

.techImages {
    height:  150px;
    margin-bottom: 200px;
}


.homeIntro img {
    height: 750px;
    width: 750px;
    border-radius: 50%;
    margin-top: 350px;
}

.homeintro {
    margin: 50px;
}

h2 {
    padding-top: 350px;
}

.contactLogos {
    border-top: solid 5px black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: gray;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed
}

.contactLogo {
    margin-top: 15px;
    height: 150px;
    width: 75px;
    border-radius: 25%;
    bottom: -35px;
}

.techUsed {
    padding-top: 15px;
}

.home {
    bottom: -175px;
}


@media only screen and (min-width: 768px) {
    header {
        height: 150px;
    }

    h1 {
        height: 45px;
        font-size: 45px;
    }

    .contactLogo {
        height: auto;
    }

    .contactLogos {
        display: inline-block;
    }


    h2 {
        padding-top: 150px;
    }

    .homeIntro p:last-child {
        margin-bottom: 50px;
    }

    .homeIntro img {
        display: inline;
        width: 100%;
        margin-top: 150px;
        border-radius: 0;
    }
}